html {
	height: 100%;
}
html body {
	height: 100%;
	margin: 0 2em 2em 2em;
}
h1, h2 {
	font-weight: normal;
	margin: 1em 0 0.6em 0;
}
a {
	color: #003366;
}
a:visited {
	color: #003366;
}
a:hover {
	color: #336666;
}
a:active {
	color: #663399;
}
h1, h2 {
	color: #006699;
}
h1.selected-table {
	padding-left: 1.2em;
	background: url('/img/document.svg') left 6px no-repeat;
	background-size: 30px 30px;
}
h2.parent {
	padding-left: 1.3em;
	background: url('/img/up.svg') left 4px no-repeat;
	background-size: 22px 22px;
}
h2.child {
	padding-left: 1.3em;
	background: url('/img/down.svg') left 4px no-repeat;
	background-size: 22px 22px;
}
div.footer {
	float: left;
	clear: both;
	margin-top: 2em;
	width: 100%;
	text-align: center;
	font-style: italic;
	color: #666;
}
.hidden {
    display: none;
}