h1 a img {
	position: relative;
	top: 6px;
}
table.data {
	border-collapse: collapse;
	background: #fafafa;
	margin-left: 1.5em;
	color: #333;
}
table.data tr td, table.data tr th {
	padding: 4px;
	border: 1px solid #ccc;
}
table.data tr.clear td, table.data tr.clear th {
	border: 1px solid #f0f0f0;
}
table.data tr th {
	font-weight: normal;
	background: #99cccc;
	border: 1px solid #333;
	font-family: Tahoma, sans-serif;
}
table.data tr td a:visited {
	color: #666;
}
table.data tr th.selected {
	background: #CCFFFF;
	border: 1px solid #666;
}
table.data tr.relations-high td {
	padding: 6px;
}
table.data tr th a {
	color: #333;
}
table.data tr th.asc a {
	padding-right: 1.5em;
}
table.data tr th.desc a {
	padding-right: 1.5em;
}

table.data tr:hover {
	background: #f0f0f0;
}
table.data tr td.centered {
	text-align: center;
}
table.data tr td.rightend {
    text-align: right;
}
table.data tr td.textend {
    white-space: nowrap;
}
table.data tr td.action {
	text-align: center;
}
table.data tr td input.search {
    width: 98%;
}
table.data tr.blank-heading td {
	background: #fff;
	border: 0;
}
table.data tr td.blank-cell {
	background: #fff;
	border: 0;
}
table.data tr.blank-heading td h2 {
	margin-left: -1.5em;
}
#tooltip {
	display: none;
	position: absolute;
	padding: 0 5px 5px 0;
}
#tooltip div.main, #edit div.main {
	-webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);
	box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);
}
div.arrow {
	position: relative;
	top: 1px;
	height: 18px;
	background: url("/img/arrow.gif") 16px 0 no-repeat;
}
*html div.arrow {
	top: 2px;
}
#tooltip div.main {
	overflow: hidden;
	height: auto;
}
#tooltip table {
	margin: 0;
	padding: 0;
}


input {
	font-size: 100%;
}
div.selForm {
	width: 74%;
	height: 75%;
	float: left;
	margin: 0 13%;
	clear: both;
}
*html .selForm form, *html .selForm ul {
	border: 1px solid transparent;
}
.selForm form {
	width: 100%;
	float: left;
	height: 100%;
}
.selForm ul {
	float: left;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
.selForm ul li {
	float: left;
	overflow: hidden;
	width: 29%;
	height: 100%;
	list-style-type: none;
	display: inline;
}
.selForm ul li h1 {
	text-align: center;
	margin: 1em 0 0.5em 0;
	padding: 0;
}
.selForm h1.database-header {
	background: url('/img/server.svg') 0% 2px no-repeat;
	background-size: 30px 30px;
}

.selForm ul li select {
	width: 100%;
	height: 82%;
	font-size: 100%;
}
.selForm ul li.middle {
	width: 6%;
	text-align: center;
}
.selForm ul li.middle b {
	position: relative;
	top: 50%;
	display: block;
	font-weight: normal;
	font-size: 150%;
}
.selForm .db-submit {
	width: 100%;
	float: left;
	clear: both;
	text-align: center;
}

#edit {
	display: none;
	position: absolute;
}
#edit form {
	margin: 0;
	padding: 0;
    width: 100%;
}
#edit form input[type=text] {
	float: left;
	width: 64%;
}
#edit form input[type=image] {
    float: left;
    margin: 5px 3px;
}
#edit div.main {
	width: 100%;
	float: left;
	padding: 0.5em;
	background: #99cccc;
	border: 1px solid #333;
}
.database-selector {
	padding: 3px;
}